* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #000000;
    color: white;
    font-family: 'VT323', monospace;
    overflow: hidden;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

input,
textarea,
button {
    user-select: auto;
    -webkit-user-select: auto;
}